@model Expense_Tracker_WebApp.Models.Account

@{
    ViewData["PageTitle"] = Model.Id == 0 ? "Create a new account" : "Edit account";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="mb-3">
                    <ejs-textbox id="Name" placeholder="Name" ejs-for="Name" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Name" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Email" placeholder="Email" ejs-for="Email" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Email" class="text-danger fs-6"></span>
                </div>
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>


    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>


@*@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}*@
